@import '../../theme/variables.scss';
@import '../../theme/mixins.scss';

.exp-timeline {
  padding: 2rem 5rem 0rem 5rem;

  @include respond(phone) {
    padding: 2rem 0rem 0rem 0rem;
    text-align: center;
  }

  &__title {
    padding-bottom: 2rem;
    font-size: 4rem;
    color: $color-dark-accent;
  }

  &__chart {
    display: flex;
  }
}
