// COLOR
$color-primary: #83b8ff;
$color-light-accent: #667384;
$color-light-shade: #e5e1e3;
$color-dark-accent: #0d2c54;
$color-dark-shade: #283443;

$color-success: #489966;
$color-danger: #f44336;
$color-warning: #c5882e;
$color-info: #283443;
